<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attendence</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="header">
        <div class="logo-img">
            <img src="{{ url_for('static', filename='./images/logoUSTH.png')}}" alt="logo">
        </div>

        <div class="header-text">
            <div class="vertical-line"></div>
            <div class="left">
                <h1><b>UNIVERSITY OF<br>
                       SCIENCE AND TECHNOLOGY<br>
                       OF HA NOI</b></h1>
            </div>
            <div class="right">
                <h1><b>ATTENDANCE<br>MANAGEMENT</b></h1>
            </div>
        </div>
    </header>

    <section class="boundary">
        <div class="banner">
            <p><a href="{{ url_for('homepage') }}">HOME</a></p>
        </div>
        
        <div class="navbar">
            <div class="nav-item">
                <a href="{{ url_for('std_information') }}">PERSONAL</a>
            </div> 

            <div class="nav-item">
                <a href="{{ url_for('std_classroom') }}">CLASSROOM</a>
            </div>

            <div class="nav-item">
                <a href="{{ url_for('std_attendance') }}">ATTENDANCE CHECKED</a>
            </div>
        </div>
    </section>

    <section class="table-classroom">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Subject</th>
                    <th>Major</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Lecturer</th>
                    <th>Action </th>
                </tr>
            </thead>
            <tbody>
                {% for row in classrooms %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="row_id" value="{{ row[0] }}">
                            <button type="button" class="att-view-button" onclick="toggleDropdown(event)">
                                <i class="fa-solid fa-caret-down"></i>
                            </button>
                            
                            <div id="dropdown" class="dropdown-content" style="display: none;">
                                <button type="submit" name="action" value="checking"><b>Checking</b></button>
                                <button type="submit" name="action" value="view"><b>View</b></button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <script>
        function toggleDropdown(event) {
          event.stopPropagation(); // Prevents the click event from propagating to the window
          var dropdown = document.getElementById("dropdown");
          
          // Close dropdown if it's already open
          if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
          } else {
            // Close any other open dropdowns
            closeAllDropdowns();
            dropdown.style.display = "block";
          }
        }
      
        // Function to close the dropdown when clicking outside
        window.onclick = function(event) {
          if (!event.target.closest('.att-view-button')) {
            closeAllDropdowns();
          }
        }
      
        function closeAllDropdowns() {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          for (var i = 0; i < dropdowns.length; i++) {
            dropdowns[i].style.display = "none";
          }
        }
      </script>
</body>
</html>