<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddStudent</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="header">
        <div class="logo-img">
            <img src="{{ url_for('static', filename='./images/logoUSTH.png')}}" alt="logo">
        </div>

        <div class="header-text">
            <div class="vertical-line"></div>
            <div class="left">
                <h1><b>UNIVERSITY OF<br>
                       SCIENCE AND TECHNOLOGY<br>
                       OF HA NOI</b></h1>
            </div>
            <div class="right">
                <h1><b>ATTENDANCE<br>MANAGEMENT</b></h1>
            </div>
        </div>
    </header>

    <section class="boundary">
        <div class="banner">
            <p><a href="{{ url_for('homepage') }}">HOME</a></p>
        </div>
        
        <div class="navbar">
            <div class="nav-item">
                <a href="{{ url_for('information') }}">INFORMATION</a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('classroom') }}">CLASSROOM</a>
            </div>
            <div class="nav-item">
                <a href="{{ url_for('attendance') }}">ATTENDANCE CHECKED</a>
            </div>
        </div>
    </section>

    <section class="std-information">
        <div class="std-add-btn">
            <div class="std-btn">
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" id="fileInput" style="display:none;" accept=".xlsx, .csv" onchange="this.form.submit()">
                    <button type="button" onclick="document.getElementById('fileInput').click();" class="add-btn">Upload file</button>
                </form>
            </div>

            <div class="std-flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="std-add-form">
            <table>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Student name</th>
                        <th>Student id</th>
                        <th>Major</th>
                        <th>Student id</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for row in students %}
                    <tr>
                        <td>{{ loop.index }}</td> <!-- Display row index (STT) -->
                        <td>{{ row[1] }}</td> <!-- Student Name -->
                        <td>{{ row[0] }}</td> <!-- Student ID -->
                        <td>{{ row[2] }}</td> <!-- Major -->
                        <td>{{ row[3] }}</td> <!-- Face ID -->
                    </tr>   
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
