* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

:root {
    --text-color: white;
    --main-color: #0C1E76;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}


.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3.5% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    height: 7%;
}

.header-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
}

.logo-img{
    width: 13%;
    height: auto;
}

.logo-img img{

    width: 100%;
    margin: 5% auto;
    height: auto;
}

.vertical-line {
    
    border-left: 3px solid red;
    height: 10vh;
    margin-right: 2%;
}

.left{
    position: absolute;
    font-size: 1.5vh;
    text-align: left;
    color: var(--main-color);
    margin: 3%;

}

.right{
    position: absolute;
    right : 3.5%;
    top: 25%;
    font-size: 1.4vh;
    color: var(--main-color);
    display: flex;
    text-align: center;
}

.boundary{
    background-color: var(--main-color);
    width: 100%;
    height: 9vh;
    display: flex;
    margin-top: 7%;
}

.banner {
    position: relative;
    display: inline-block;
    background-color: #e30613; 
    color: white;
    padding: 10px 20px;
    margin-left: 45px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    
}

.banner::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -13px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 47px solid transparent;
    border-right: 47px solid transparent;
    border-top: 14px solid #e30613; /* Red to match background */
}

.banner p{
    padding-top: 1.5vh;
}

.banner a{
    color: var(--text-color);
}

.login-form{
    width: 80vh;
    height: 50vh;
    margin: 2% auto;
}

.head-form{
    width: 100%;
    height: 10vh;
}

.head-form h2{
    font-size: 5vh;
    padding-top: 2.5vh;
}

.body-form{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 48vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.input-email {
    padding-top: 3%;
}

.input-pass {
    padding-top: 1%;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 4vh; 
    font-size: 2vh;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #60a5fa;
    box-shadow: 0 0 5px rgba(96, 165, 250, 0.5);
}

input::placeholder {
    color: #6b7280;
    opacity: 1;
    font-size: 3vh;
}

.flashes{
    color: #e30613;
    font-size: 2vh;
    margin-left: 3%;
    margin-top: 1%;
}

.login-as{
    font-size: 3vh;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 1%;
}

.radio-group {
    display: flex;
    flex-direction: row; 
    height: 8vh;
    
}

.radio-item {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 0;
    
}

.radio-item input[type="radio"] {
    margin-right: 2vh;
}

.radio-item label {
    font-size: 3vh;
}

.end-form{
    
    height: 9vh;
}

.submit-btn {
    display: block; 
    margin: 0 auto; 
    padding: 1rem 5rem;
    margin-top: 0;
    font-size: 3vh;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2563eb;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-grow: 1; 
    
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #D32F2F; 
}

.nav-item a{
    color: var(--text-color);
    font-size: 3vh;
}

@media screen and (max-width: 480px) {
    .login-form {
        width: 90%;
    }
}  

.form-class{
    margin: 2% auto;
    height: 80vh;
    width: 50vw;
}

.clr-header{
    height: 6vh;
    width: 100%;
    
}

.clr-header h2{
    font-size: 4vh;
    padding-top: 1%;
    padding-left: 30%;
}

.clr-body{
    height: 60vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clr-form{
    display: flex;
    height: 16vh;
    width: 100%;
    flex-direction: row; 
    margin-top: 2%;  
}

.clr-form-cname{
    height: 16vh;
    width: 70%;
}

.clr-form-major{
    height: 16vh;
    width: 30%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.clr-form-lname{
    height: 16vh;
    width: 100%;
}

.clr-form-date{
    display: flex;
    flex-direction: row;
    height: 16vh;
    width: 100%;
}

.date-item{
    height: 16vh;
    width: 50%;
}

label[for="className"],
label[for="major"],
label[for="lecturerName"],
label[for="startDate"],
label[for="endDate"]{
    font-size: 3vh;
    font-weight: bold;
    padding-left: 1%;
}

input[type="text"],
input[type="date"]{
    width: 100%;
    padding: 3vh; 
    font-size: 3vh;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="date"]:focus {
    border-color: #60a5fa;
    box-shadow: 0 0 5px rgba(96, 165, 250, 0.5);
}

select[id="major"]{
    width: 5vw;
    height: 6vh;
    font-size: 2.8vh;
    margin-left: 5%;
    padding: 1%;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

select[id="major"]:focus{
    border-color: #60a5fa;
    box-shadow: 0 0 5px rgba(96, 165, 250, 0.5);
}

.clr-form-submit{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.clr-submit-btn{
    display: block; 
    margin: 0 auto; 
    padding: 2vh 5vh;
    margin-top: 0;
    font-size: 3vh;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clr-submit-btn:hover{
    background-color: #1943fe;
}

.table-classroom{
    width: 95vw;
    height: 65vh;
    margin: 0 auto;
    margin-top: 7vh;
}

.table-classroom table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 0.3vh solid black; 
    padding: 2.5vh; 
    font-size: 3vh;
}
th {
    background-color: #f2f2f2; 
}

.view-button {
    background: none;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button {
    background: none;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.view-button i {
    color: #0de714; 
}
.delete-button i {
    color: #f44336; 
}


.att-infor {
    width: 95vw;
    height: 65vh;
    margin: 0 auto;
    margin-top: 7vh;
}

.attendance-create-btn-form {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
}

.attendance-create-btn {
    width: 10%;
    height: 100%;
}

.attendance-flash {
    width: 90%;
    height: 100%;
    margin-left: 0.5vw;
}

.att-create-btn{
    background-color: var(--main-color);
    color: white;
    border: none;
    height: 5vh;
    width: 9vw;
    text-align: center;
    font-size: 2.3vh;
    border-radius: 1vh;
}

.att-create-btn:hover{
    background-color: #1943fe;
}

.form-box {
    margin: 0 auto;
    padding: 4vh;
    margin-top: 2vh;
    border: 0.1vh solid #ccc;
    border-radius: 1.5vh;
    background-color: #f9f9f9;
    width: 40vw;
    box-shadow: 0vh 0vh 1vh rgba(0, 0, 0, 0.1);
}
.form-box label {
    font-size: 2.7vh;
    color: #333;
}
.form-box input {
    width: 100%;
    padding: 0.8vh;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-box button {
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.form-box button:hover {
    background-color: #d32f2f;
}

.std-information{
    width: 95vw;
    height: 65vh;
    margin: 0 auto;
    margin-top: 7vh;
}

.std-add-btn{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
}

.std-btn{
    width: 10%;
    height: 100%;
}

.std-flash{
    width: 90%;
    height: 100%;
    margin-left: 0.5vw;
}

.add-btn{
    background-color: var(--main-color);
    color: white;
    border: none;
    height: 5vh;
    width: 9vw;
    text-align: center;
    font-size: 3vh;
    border-radius: 1vh;
}

.add-btn:hover{
    background-color: #1943fe;
}

.std-add-form table{
    margin-top: 1vh;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.att-th-form {
    width: 15vw;
}

.att-view-button {
    background: none;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.att-view-button i {
    color: black;
    font-size: 3vh; 
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    width: 7vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.face-scan {
    width: 65vw;
    height: 65vh;
    margin: 0 auto;
    margin-top: 6vh;
    border-radius: 2vh;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
}

.infor-container {
    height: 100%;
    width: 50%;
}

.face-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infor-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infor-container h1 {
    text-align: center;
    padding-top: 2vh;
    font-size: 4vh;
    margin-bottom: 2vh;
}

.infor-container .input-box {
    height: 15vh;
    width: 100%;
    margin: 0 2.5vw;
}

.input-box input {
    height: 8.5vh;
    width: 85%;
    border-radius: 3vh;
    margin-top: 1vh;
    margin-left: 2vw;
}

.input-box label {
    font-size: 2.3vh;
    font-weight: bold;
    margin-left: 2.3vw;
}

.infor-container button {
    width: 8.5vw;
    padding: 1.5vh;
    background-color: #f44336;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 2.5vh;
}

.infor-container button:hover {
    background-color: red;
}

.face-container button {
    width: 7vw;
    padding: 1vh;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 2.5vh;
}

.face-container button:hover {
    background-color: #1943fe;
}